{% load static %}
<!DOCTYPE html>

<html>
    <head>

        <title>LOGIN/SIGNUP</title>
        <link rel="stylesheet" href='{%static "/css/style.css" %}'>
        <body>
            <div class="starting_div">
                <!--<button type="button">Login</button>-->
                <div class ='login_div'>
                <a href="/login"  style="color: coral;">Login!</a>
                <br>
             </br>
                <a href="/signup" style="color: coral;">Sign up!</a> 
             </div>
            </div>
        </body>
    </head>
</html>