<!DOCTYPE html>

<html>
    <head>
        <title> Signup </title>
        <body>
            <form action ='signup' method ='POST' id ="signup_form" autocomplete="off" >
            <div>
                {% csrf_token %}
                {% if messages %}
        
                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div>
                    <input type ='text' placeholder="username" id ='username' name = 'username' autocomplete="off" Required/>
                    <br>
                </br>
                </div>
            <div>
                    <input type ='password' placeholder="password" id ='password' name = 'password' autocomplete="off" Required/>
                    <br>
            </br>
        </div>
        <div>
                    <input type ='email' placeholder="email" id ='email' name = 'email' autocomplete="off" Required/>
                    <br>
            </br>
        </div>

        <div>
                    <button type="submit" id="signup_btn" value ='signup'>signup</button>
        </div>
        <p class="signin">
            <span style="color:rgb(105, 51, 51);font-weight: lighter">Already have an account ?</span>
              
                <a href="/login" ><span style="color:rgb(105, 51, 51);font-weight: lighter">Log In</span>
            </a>
          </p>

                </div>
            </div>
        </form>
        </body>
    </head>
</html>